doctype html

html(lang="pl", class="ltr no-script")

    head

        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes")

        if(title !== undefined)
            title= title
        else
            title Custom Page

        link( href="assets/template.css" type="text/css" rel="stylesheet")

        block head

    body

        div#container.container

            block header

            block layout

            block footer