
.container {


  .prev-box {
    display: flex;
    &-contaier {
      display: flex;
      height: 500px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    &-content {

    }
  }

}