$cloudColor : #001aff;
$cloudShadow : 0 0 4px #2c3e50;
$textColor  : #ffffff;

.cloud, .cloudshadow {
  width: 350px;
  height: 120px;
  background: $cloudColor;
  border-radius: 100px;
  position: relative;
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud {
  &:after, &:before {
    content: '';
    position: absolute;
    background: $cloudColor;
    z-index: 1;
  }

  .text {
    position: absolute;
    top: -10px;
    z-index: 2;
    color: $textColor;
    font-size: 40px;
    text-align: center;
  }

}

.cloudshadow {
  &:after, &:before {
    content: '';
    position: absolute;
    background: $cloudColor;
    z-index: 1;
  }
  margin: 0;
  box-shadow: $cloudShadow;
  z-index: -99;
  &:after, &:before {
    margin: 0;
    box-shadow: $cloudShadow;
    z-index: -99;
  }
}

.cloud:after, .cloudshadow:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

.cloud:before, .cloudshadow:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}