extends ../_layouts/_custom-grid

block main-column

    .prev-box-contaier

        .cloud
            .text
                | DevOps
                br
                small Break Day
            .cloudshadow